body{
 
    background-image: url(https://wallpaper.forfun.com/fetch/27/27a2ddd58aa0c80c9211186c3a1097fd.jpeg) ;
background-size: cover;

     background-color: #86c7bf;
  }
.logo{
  border-radius: 50%;
  margin-top:5% ;
  flex: 1;

}



.ctn1{
  background-color: #849c04;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    justify-content:space-around ;
    
    
}
h1{
  color: #755ff3;
  font-size: 5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bloco1{
  background-color: #f3db72;
  border-radius: 15%;
  margin-top: 5%;
  width: 20vw;
 
  
  text-align: center;
  padding: 1%;
  h2{
    font-size: 2vw;
    color: #e7b740;
  }
  a{
font-size: 130%;
color: #ffffa3;
}
.bob{
  
    width: 250px ;
    height: 200px;

}
}
.bloco2{
  background-color: #ff9789;
  border-radius: 10%;
  margin-left: 40%;
  margin-top: 5%;
  flex: 1;
  padding: 1%;
 
  p{
  color: #eb7f73;
  font-size: 130%;
  display: flex;
}
h2{
    color: #d6675e ;
    text-align: center
    ;
    
  }
  .gary{
    width: 350px ;
    height: 200px;
    display: flex;
    flex-direction: row;
  }


}
.blocos{
display: flex;
flex-direction: row;
  
}
.contato{
  background-color: #849c04;
 
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    justify-content:space-around ;
    margin-left: 30%;
    
    width: 40%;
  p{
    color: #755ff3;
    font-size: 1.5vw;
  }
}